.board {
  display: flex;
  flex-direction: column;
  .game-stats {
    font-size: 1.5em;
    margin: 18px 66px;
    align-self: left;
    text-align: left;
    display: flex;
    .attempts-text {
      margin-right: 18px;
      flex-grow: 0;
      padding: 4px 0;
    }
    .stats-text {
      font-weight: bold;
    }
  }
  .begin-btn {
    align-self: center;
    max-width: 250px;
    margin: 12px 0;
    &.disabled {
      background-color: lightgrey;
      cursor: unset;
    }
  }
  .timer-section {
    min-height: 81px;
    .timer-text {
      font-size: 1.5em;
      font-weight: bold;
      margin-bottom: 4px;
    }
  }
  .timer-running-section,
  .timer-bar-spacer {
    margin: 18px 0;
  }
  .timer-bar-spacer {
    height: 12px;
  }
  .board-tiles {
    align-self: center;
    width: 100%;
    display: grid;
    grid-gap: 2vw;
    justify-items: center;
    height: 60vh;
    width: 60vh;
  }
  @media (max-width: 800px) {
    .board-tiles {
      height: 80vw;
      width: 80vw;
    }
  }
}
