.tile {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  background-color: #756392;
  overflow: hidden;
  cursor: pointer;
  border-radius: 6px;
  width: 75%;
  min-height: 100%;
  transition: all 0.1s ease-in;
  &:hover {
    transform: scale(1.05);
  }
  &.shown {
    cursor: unset;
    transform: none;
    background-color: #a48ccb;
  }
  &.wrong {
    background-color: #bf616a;
  }
  .tile-icon {
    flex-grow: 1;
    &.hidden {
      opacity: 0;
    }
  }
}
